# pixi environments
.pixi
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
.env.*
venv/
ENV/
env/
*.cover
.coverage
*.pyc
.mypy_cache/
.pytest_cache/
.tox/
.cache/
pip-wheel-metadata/
*.manifest
*.spec
.DS_Store
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.orig
*.rej
*.swo
*.swn
*.~
